.App {
  text-align: left;
  background-color: white;
}

.main   {
    padding: 50px 200px;

}

#header-image   {
    width: 60%;
    float: right;
    z-index: 1;
    max-width: 1000px;
}

#opening-text   {
    color: black;
    font-size: 18px;
    width: 500px;
}

.credits    {
    padding-top: 30%;
}
